.input-spread {
    display: flex;
    justify-content: center;
}

.input-spread .input-container {
    width: auto;
}
.input-spread input {
    border-radius: 3px;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 1px #B7BDC8;
    color: #42526E;
    padding: 0;
    width: 100%;
    margin-bottom: 12px;
    font-size: 22px;
    transition: box-shadow 0.3s;
    font-family: monospace;
    width: 36px;
    margin: 0 6px;
    line-height: 50px;
    text-align: center;
}
